* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ff7878;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#heart-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ff7878;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  transform: rotate(-45deg);
  animation: float 5s ease-out forwards, fadeOut 3.5s ease-out forwards;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 10px;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px) rotate(-45deg);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#flip-card {
  display: none;
  position: relative;
  margin: 100px auto;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

#flip-card {
  background-color: transparent;
  width: 600px;
  height: 500px;
  perspective: 1000px;
  margin: 10%;
}

#flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#flip-card-front,
#flip-card-back {
  position: absolute;
  width: 600px;
  height: 500px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#flip-card-front {
  background-color: #ff6f61;
  color: rgb(246, 75, 75);
}

#flip-card-back {
  color: rgb(246, 75, 75);
  transform: rotateY(180deg);
  background-color: rgb(246, 75, 75);
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#letter {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 1px;
  padding: 10px;
}

#envelope {
  position: absolute;
  height: 500px;
  width: 600px;

  top: 0;
  left: 0;

  border-top: 200px solid transparent;
  border-right: 200px solid #ff9999;
  border-left: 200px solid #ff9999;
  border-bottom: 300px solid #ff9999;

  z-index: 3;
}

.lid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  border-right: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-left: 200px solid transparent;
  transform-origin: top;
}

#one {
  border-top: 200px solid #f83e3e;
  transform: rotateX(0deg);
  z-index: 3;
}

#two {
  border-top: 200px solid white;
  transform: rotateX(90deg);
  z-index: 1;
}

#stamp {
  position: absolute;
  top: 10px;
  flex: 0;
}

#stamp img {
  float: right;
  width: 35%;
}

#message {
  position: absolute;
  top: 10%;
  color: rgb(0, 0, 0);
  margin: 10px 20px;
  font-size: 15px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 550;
  letter-spacing: 1.5px;
  text-align: justify;
}